version: "3.6"
services:
  wordpress:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: wordpress
    volumes:
      # Comentado ya que si no da errores de permisos
      #- ./wordpress:/var/www/html
      - ./src:/var/www/html/wp-content/plugins/${PLUGIN_NAME}
      - ./bin:/scripts
      - .docker/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
      - .docker/php.ini:/usr/local/etc/php/conf.d/php.ini
    environment:
      - WORDPRESS_DB_NAME=wordpress
      - WORDPRESS_TABLE_PREFIX=wp_
      - WORDPRESS_DB_HOST=db
      - WORDPRESS_DB_USER=root
      - WORDPRESS_DB_PASSWORD=password
      - WORDPRESS_DEBUG=true
    depends_on:
      - db
      - phpmyadmin
    restart: unless-stopped
    ports:
      - 8080:80
    extra_hosts:
      - host.docker.internal:host-gateway
    networks:
      - default
      - yglu_yglu-net

  db:
    image: mariadb:latest
    container_name: db
    volumes:
      - .docker/db_data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_USER=root
      - MYSQL_PASSWORD=password
      - MYSQL_DATABASE=wordpress
    restart: unless-stopped

  phpmyadmin:
    depends_on:
      - db
    image: phpmyadmin/phpmyadmin:latest
    container_name: phpmyadmin
    restart: unless-stopped
    ports:
      - 8180:80
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: password

networks:
  default:
    driver: bridge
  yglu_yglu-net:
    external: true